/* Mask component */

.main{
  margin-bottom: 50px;
}

.container{
  position: relative;
  height: 200vh;
}

.stickyMask{
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  mask-image: url('/assets/logo/vx-blanco.svg');
  mask-position: 47.30% 48.3%;
  mask-repeat: no-repeat;
  mask-size: 50%;
}

.stickyMask img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: linear-gradient(to bottom, rgba(25, 15, 116, 0.877) 50%, rgba(121, 19, 112, 0.781));
}